[2017-11-21 18:20] joshuap opened #1 "minified_file does not appear to be uploading"
I think the issue may be here:

https://github.com/honeybadger-io/honeybadger-webpack/blob/master/src/HoneybadgerSourceMapPlugin.js#L105

It appears that maybe this is a string rather than a file upload?

There is also a bug I need to fix in our API that is related to this:

- [ ] Our API seems to be accepting the upload when it shouldn't (it's supposed to reject uploads which do not include a val

[2017-12-16 00:14] #1 closed, assigned to nobody

[2017-12-16 00:15] monde opened #2 "make honeybadger-webpack public"
I think it's time to make this a public repo

[2017-12-18 17:48] #2 closed

[2017-12-27 15:11] hstrowd opened #3 "All Requests Return `Invalid API key`"
I recently tried adding this plugin to my webpack build and have triple checked my configurations (including verifying that I'm able to upload them manually via curl) but I'm still getting an `Invalid API key` error response for each source map upload attempt using this plugin.

I noticed you're using the `request` package for the HTTP communication in this plugin, so I added the `NODE_DEBUG=reque

[2017-12-27 15:41] monde commented on #3
@hstrowd - thanks for the detailed debug feedback ... are you certain you are setting the `apiKey` correctly when you initialize the `HoneybadgerSourceMapPlugin`? The only way I've been able to reproduce `401 Unauthorized` / `{"error":"Invalid API key"}` in my sample environment with curl and also with my webpack environment is if I deliberately set the `apiKey` to an invalid value. The project's

[2017-12-27 18:20] hstrowd commented on #3
@monde Thanks so much for the quick reply.

tl;dr: You were correct. I should have trusted the error message more than my debugging output. Sorry for the confusion.

At the root of the issue was the fact that I was pulling the API key attribute from my .env file using the `dotenv-webpack` plugin, which unbeknownst to me was including a set of `"`s around the value itself. As a result when I printe

[2017-12-27 18:20] #3 closed

[2017-12-27 19:30] monde commented on #3
I learned some things from your debug analysis so it was worthwhile to me!

[2018-01-10 20:22] christiangenco opened #4 "integration with `create-react-app`?"
Do apps created with `create-react-app` need to be ejected to use `honeybadger-webpack`?

Without being ejected, `webpack.config.js` isn't exposed in `create-react-app` apps :(

[2018-01-11 07:40] monde commented on #4
@christiangenco I'm not familiar with the use of `create-react-app`. This blog post seems related to your question: [Using Webpack with Create React App](https://www.fullstackreact.com/p/using-webpack-with-create-react-app/)

[2018-01-12 18:40] joshuap opened #5 "Add an option to remove local source map after upload"

[2018-01-22 20:54] ericrovtar opened #6 "Angular Implementation"
I love that you're supporting Webpack, but (unless I'm wrong), some frameworks - like Angular - use Webpack but don't give users direct access to `webpack-config.js`.

Is there a workaround for this or a chance we might see an Angular module released?

[2018-01-24 00:03] joshuap commented on #6
Hey @ericrovtar, it *seems* like Angular provides a way to add Webpack plugins:

https://angular.io/guide/webpack#plugins

I am not super familiar with this, so I could be wrong. Does that point you in the right direction at all?

We don't currently have plans to officially build additional Webpack integrations (but we welcome community projects). We *are* currently working on framework documentat

[2018-01-24 15:04] ericrovtar commented on #6
@joshuap Interesting. All my googling and that never came up. I'll take a look. We haven't done that before, but we really would love automating the source map uploads. Thanks!

[2018-01-24 16:37] joshuap commented on #6
No problem! If you do find a configuration that works for Angular, would you mind commenting back here with an example? I'll add it to our documentation.

[2018-01-24 20:27] ericrovtar commented on #6
@joshuap This might not be the best place to follow up, so let me know if there's a better medium.

I think I have a solution. I got the main source map to upload (ex: `main.0eb484898c98a0719f5c.bundle.js`), but an Angular build will usually have multiple bundles:

- inline.*.bundle.js
- main.*.bundle.js
- polyfills.*.bundle.js
- scripts.*.bundle.js

Each of these will have its own source map.

I

[2018-01-24 23:07] joshuap commented on #6
@ericrovtar I don't believe this plugin currently supports uploading multiple source maps; we'll have to review if it's something we want to add. Can you confirm, @monde?

In the meantime, if `main` contains most of your application code, I think it should still be pretty useful. If you have any account-specific questions feel free to email us at support@honeybadger.io.

[2018-01-24 23:51] monde commented on #6
I have some ideas regarding multiple source maps @ericrovtar, I will try to address them in the next couple of days

[2018-01-25 14:52] ericrovtar commented on #6
Thanks, @joshuap & @monde!

[2018-03-14 20:06] sljavi opened #7 "Unable to upload large source map files (38MB)"
Hey guys,

I want to ask you about source map file size limitations.

After the bundle and source maps files are generated I see the following console error

[code]

The filename `app.bundle.js.map` is correct and its content is a well made JSON also.

Since the error `Unexpected token < in JSON at position 0` doesn't make sense I inspected the Honeybadger's sever call and I found the following re

[2018-03-14 20:14] stympy commented on #7
I have bumped up the limit -- let me know if that works for you.

[2018-03-14 20:22] sljavi commented on #7
that was faster than immediately 😮
now I can not reproduce the issue
thanks @stympy

[2018-03-14 20:25] #7 closed

[2018-03-21 15:20] gazpachu opened #8 "Unable to get webpack's hash or chunkhash to pass it as the revision"
This doesn't work. It doesn't substitute [chunkhash] for the hash.

[code]

I've tried all these approaches with no luck:

- https://www.npmjs.com/package/webpack-git-hash (it doesn't convert it)
- https://stackoverflow.com/questions/35150186/getting-git-revision-hash-with-webpack/35150851 (uglify complains)
- https://github.com/webpack/docs/wiki/list-of-plugins#extendedapiplugin (__webpack_hash__

[2018-03-21 15:58] gazpachu commented on #5
You can also remove them from your `package.json` build script. Something like this: `"build": "rm -rf dist && webpack -p --config ./webpack/webpack-prod.config.js --colors && rm ./dist/assets/scripts/*.map"`

[2018-03-21 16:05] #8 closed

[2018-03-21 20:29] joshuap commented on #6
@monde when you get the chance, could you add any ideas you had here? Thanks!

[2018-03-21 22:00] monde commented on #6
(I'm not making a promise!) but I'll try and hack on an example to find out more tonight.

[2018-03-22 07:06] monde commented on #6
FYI the angular webpack guide has an example app https://angular.io/guide/webpack look for "You can also download the final result.". I fiddled with it a little bit, but the app doesn't seem to be loading but I can see that webpack ran and generated js and map files. The example has a `webpack.config.js` that points to `config/webpack.dev.js` which has a plugin stanza to hook into. @ericrovtar let

[2018-03-23 14:44] ericrovtar commented on #6
@monde I appreciate you continuing to look into this. For now, we're scripted the uploading the main JS map to Honeybadger during our build and deploy process. It's working for us. When I have the chance, I'll take a look at what you found, though. Thanks!

[2018-07-03 12:49] oliverbenns opened #44 "Add eslint"
There are `eslint-disable-line`'s everywhere in the code but currently no eslint setup or config is in the repository.

[2018-07-16 15:05] sljavi opened #47 "Error when building: Failed to upload source code to Honeybadger API"
Hi guys!

This morning I started to get the following error when building the app
[code]

Here the plugin config I'm using

[code]
and here what I have into the `package-lock.json`
[code]

node version: 9.10.1
npm version: 5.6.0

[2018-07-16 15:07] sljavi commented on #47
The issue started to happen at 2:21 PM 07/16/2018 *UTC*

[2018-07-16 15:12] jbottigliero commented on #47
It looks like there might be something going on with the `/v1/source_maps` endpoint (404) used by the plugin:

[code]

In comparison to `/v1/deploys`:

[code]

I'm seeing the same behavior on:

[code]

[2018-07-16 15:35] stympy commented on #47
The `/v1/source_maps` endpoint only accepts POST requests:

[code]

I'm not seeing any recent changes on the server side that would cause a change in behavior, but we're investigating the issue.

[2018-07-16 16:08] danielpowell4 commented on #47
For what it's worth, I also am having issues that began this AM. Was working fine at least yesterday until at least mid-afternoon mountain time when I stopped work

My logs aren't supplying any helpful errors

[code]

[2018-07-16 16:47] joshuap commented on #47
We're still looking into this; it appears to be caused by intermittent failures of our back-end, rather than an error in this plugin. I'll update this issue when we know more. In the meantime, you can set the optional `ignoreErrors: true` option in your `HoneybadgerSourceMapPlugin` plugin config so that webpack can complete your build.

[2018-07-16 17:48] #47 closed

[2018-07-16 17:54] joshuap opened #48 "Improve error handling when making requests"
When api.honeybadger.io fails due to an error (rare, but it can happen, as in #47), webpack compilation fails with a cryptic error:

[code]

This specific error message resulted from nginx returning a generic 500 error page rather than a JSON response (which is what an error in our API should generate).

Let's add some error handling so that any non-successful response from the server is logged wi

[2018-07-16 18:58] joshuap opened #49 "Release 1.1.0"
This will include the dependency updates we've added recently.

[2018-07-18 15:11] joshuap opened #50 "Add config option for API URL"
I want to be able to use this library with our internal Honeybadger instance.

Edit: in our client libraries, we usually name this option [`endpoint`](https://www.notion.so/honeybadger/endpoint-4ca023435ff54f949cd7f26be9d56239).

[2018-07-31 16:32] joshuap opened #52 "Plugin ordering: CompressionWebpackPlugin runs first"
We're seeing some issues where folks using the `CompressionWebpackPlugin` are uploading compressed files (which we don't currently support). Ideally, the files should be uploaded *before* compression. `CompressionWebpackPlugin` binds to the `emit` event, while we bind to the `after-emit` event.

I'm not sure how ordering works for plugins which bind to the same events. If we switched to the `emit`

[2018-08-27 23:36] joshuap opened #58 "Add CHANGELOG.md"
We use: https://keepachangelog.com/en/1.0.0/

See other repos (i.e. honeybadger-io/honeybadger-ruby) for example.

[2018-08-27 23:37] joshuap opened #59 "Add build/release instructions"
We should have a section in the README on how to publish the release, i.e.: https://github.com/honeybadger-io/honeybadger-elixir#publishing-a-release-on-hexpm

- [x] Add instructions to README
- [ ] Tag releases prior to v1.1.0

[2018-08-27 23:38] joshuap opened #60 "Add new issue templates"
See honeybadger-io/honeybadger-laravel for example

[2018-08-27 23:51] #60 closed

[2018-08-30 10:38] oliverbenns commented on #49
This can be closed (or the title changed again!)

[2018-08-31 14:10] #49 closed

[2018-10-24 05:31] Tolsee commented on #4
@monde The thing is we do not have create documentation of how to use honey-badger in frontend application. This is not of course a place to ask question but documentation can be clearer than what we have now.

[2018-11-02 22:10] joshuap commented on #4
@Tolsee I just wanted to mention that if you need help getting started with Honeybadger, you can always email us at support@honeybadger.io!

[2019-01-22 21:04] lucasdeassis commented on #4
@Tolsee the alternatives I've found were:

1 - Eject Create React App(CRA) to use webpack and then adding this package
2- Use `React App Rewired` to override CRA webpack config and add this package to the plugins
3 - Use the  Honeybadger Upload API](https://docs.honeybadger.io/api/source-maps.html)

Using the upload API worked best for me. I ran something like

[code]

right after deploying to pro

[2019-01-23 19:58] lucasdeassis opened #80 "Upload success log message not showing"
## What are the steps to reproduce this issue?

1. Add Honeybadger plugin to webpack
[code]
2. … compile webpack production build with trace like`$ NODE_ENV=production rake webpack:compile --trace` or `webpack compile --verbose` and see it completing successfully

## What happens?
The success upload message is not being displayed

## What were you expecting to happen?
A message like Uploaded ${sou

[2019-01-28 14:07] lucasdeassis opened #81 "assetsUrl in HoneybadgerSourceMapPlugin not working if contains final slash "/""
## What are the steps to reproduce this issue?

1. Add Honeybadger plugin to webpack with `assetsUrl` including a final slash (`/`)
[code]
2. compile bundle with webpack performing the sourcemap upload

## What happens?
sourcemaps are uploaded wrongly and not applied in honeybadger errors

## What were you expecting to happen?
To work normally as `assetsUrl: '*/assets',`, that is, without the fina

[2019-02-13 19:53] #81 closed

[2019-02-13 19:56] joshuap commented on #81
@lucasdeassis this should be fixed in 1.1.4. Let me know if not. Thanks for reporting!

[2019-02-13 19:58] joshuap commented on #80
@lucasdeassis I'm not quite sure how to handle this one, since we're just calling `console.log`. It seems like it would be best to rely on whatever the default node behavior is for `console` logging, wouldn't it? I'm willing to consider suggestions.

[2019-02-18 14:56] disintegrator opened #85 "Plugin crashes when used in Next.js v8 projects"
## What happens?
We are using this plugin in a Next.js v8 project that uses webpack 4.29.0 underneath and enables the upcoming webpack 5 asset emitting logic. With this logic enabled, plugin developers can no longer access an asset's contents in the afterEmit phase. As a result, this plugin causes our build to crash.

## What were you expecting to happen?
Build succeeds and source maps are uploade

[2019-02-18 14:57] disintegrator commented on #85
Related: https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/61

[2019-02-19 18:59] joshuap commented on #85
@disintegrator thanks, we'll take a look. Binding to `emit` may also fix #52. I'm not sure off the top of my head if it will work for our use case, though.

[2019-03-01 21:39] #80 closed

[2019-12-19 00:00] joshuap commented on #58
https://github.com/honeybadger-io/honeybadger-js/blob/master/scripts/update-versions.sh

[2019-12-19 00:01] #59 closed

[2019-12-19 00:10] #58 closed

[2020-04-21 03:49] paambaati commented on #85
@disintegrator Were you able to fix this? I’m running Next.js 9 and I’m considering using Honeybadger. I’d appreciate it a lot if you can share how you integrated them.

[2020-05-12 01:13] joshuap commented on #85
I'm digging into this this week. Let me know if any of you have instructions you can share, otherwise I'll update this when I know more!

[2020-05-12 20:11] joshuap commented on #85
I have this working in the latest version of next (9.4) here:

https://github.com/honeybadger-io/nextjs-with-honeybadger

The Webpack config is here:

https://github.com/honeybadger-io/nextjs-with-honeybadger/blob/master/next.config.js#L21

As a bonus, it also supports isomorphic error reporting (see [pages/_app.js](https://github.com/honeybadger-io/nextjs-with-honeybadger/blob/master/pages/_app.j

[2020-05-12 20:11] #85 closed

[2020-05-13 01:08] paambaati commented on #85
@joshuap I just skimmed the repo a bit, and it looks super-comprehensive. Fantastic work!

I’d also recommend submitting this as PR to the Next.js project, as an addition to the `examples/` directory. That would be helpful to Next.js users looking to try/use Honeybadger, and as a bonus, you get community help in maintaining it.

[2021-01-23 09:34] ValCanBuild opened #276 "Having issues uploading source maps for GH actions"
I am running `yarn prod` as part of my CI workflow using Github Actions and part of that step is uploading source maps to HB. But each time I run it I get an ECONNRESET partway through the upload. Attached the part of the log here:

[code]

This works when I run it locally but I need it to work as part of the GH action. Any idea on what might be causing it and how to solve it?

[2021-01-24 12:32] ValCanBuild commented on #276
I am closing this since it was my fault. I was not setting all the necessary .env variables my deployment script needed. Once I fixed that this issue disappeared.

[2021-01-25 16:45] joshuap commented on #276
Thanks for the update @ValCanBuild, glad you got it working. 👍

[2021-01-27 10:35] ValCanBuild commented on #276
@joshuap unfortunately I have to reopen this as the problem seems to be back. I do not know why it succeeded that one time but now it failed several times in a row due to a socket hang up. Is there anyway the plugin could retry uploading assets if it encounters a failure?

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/1429306/105979182-450afa00-608b-11eb-9311-5639684

[2021-01-27 17:23] joshuap commented on #276
@ValCanBuild we're discussing this internally. Can you tell me where the server is located that's having this issue? Does it seem to fail randomly, or is it every time? I'm thinking that a retry won't help if it's consistently failing.

It may be possible to add a retry option and/or improve the error handling, but I'd like to solve the connectivity problem if possible!

[2021-01-27 17:29] joshuap opened #278 "Deploy notification"
Add an option to configure deploy notification in addition to uploading source maps. Maybe something like this:

[code]

https://docs.honeybadger.io/api/deployments.html

[2021-01-27 18:15] ValCanBuild commented on #276
Hey Josh - I have no idea where it's located because this is running within Github Actions itself. I assume a docker container somewhere in their infrastructure? Not sure if there's any info I can pull in that would help?

It seems to be failing pretty consistently IMO. That one time it succeeded was apparently a fluke.

[2021-03-10 23:41] joshuap commented on #44
[just doing some issue triage, feel free to ignore notifications]

I'd like to convert to use [standard format](https://standardjs.com/awesome.html#packages-used-by-standard) as a part of this.

[2021-03-11 02:25] ParamagicDev commented on #276
Alright, so I did a little bit of research and this appears to be a long standing issue related to NodeJS itself, its HTTP library, and how it handles requests / responses.

Heres the thread:

https://github.com/nodejs/node/issues/27916

TLDR:

When a response is received while a socket is still open making a request, itll throw an ECONNRESET error which needs to be handled.

I'll see if I can wor

[2021-03-11 02:46] ParamagicDev opened #281 "Find an alternative to `request` npm package"
- https://www.npmjs.com/package/request
- Request is deprecated as of Feb 2020, we should seek a replacement.

https://github.com/honeybadger-io/honeybadger-webpack/blob/b110654e24ee55c97ca01b3479432622da2a58d0/package.json#L58

https://github.com/honeybadger-io/honeybadger-webpack/blob/b110654e24ee55c97ca01b3479432622da2a58d0/src/HoneybadgerSourceMapPlugin.js#L2

Perhaps by changing the way HTTP

[2021-03-11 04:08] ParamagicDev commented on #276
Also related from the rollback sourcemap plugin:

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/68

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/73

looks like users can also hit timeout limits if creating too many sourcemaps.

[2021-03-11 05:25] ParamagicDev commented on #281
Looks like the rollbar plugin now uses `node-fetch`

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/blob/master/src/RollbarSourceMapPlugin.js

[2021-03-11 08:23] ValCanBuild commented on #276
Wow, diving deep into the nodeJS internals does *not* sound like fun. Sorry about that @ParamagicDev .

My repo is private so unfortunately I can't repro it - I think it's definitely something to do with having many sourcemaps (which is inevitable in a big project). Not sure how you could repro that easily without just creating a big project with lots of them.

[2021-03-11 14:15] ParamagicDev commented on #276
@ValCanBuild I think I have a fix. The issue is it requires a fairly significant rewrite of the internals of the plugin. But long story short, I think implementing a retry functionality to `node-fetch` may be the way to solve this.

Vercel has a package called `fetch-retry`, I have it implemented on a branch right now but need to fix the tests.

https://github.com/vercel/fetch-retry#rationale

Fro

[2021-03-12 03:49] #44 closed

[2021-03-14 01:33] ParamagicDev opened #285 "feat: Should warn user if no assets found"
From the Rollbar repo:

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/39

Users would like to see if no assets will be uploaded.

[2021-03-14 01:35] ParamagicDev opened #286 "feat: add retry functionality to sourcemap upload"
Based on the rollbar repo:

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/45

https://github.com/thredup/rollbar-sourcemap-webpack-plugin/issues/73

People would like to see retry functionality.

This is also linked to #276 since https://github.com/vercel/fetch-retry claims to solve this issue.

[2021-03-16 02:54] ParamagicDev commented on #278
Ill tackle this once the `node-fetch` PR gets merged and gets some real world testing.

[2021-03-16 03:06] ParamagicDev commented on #5
I could see about making this happen. Perhaps something like this:

[code]

Where `removeSourcemaps` will just remove all sourcemaps after successfully uploading.

Other name options:

- `pruneSourcemaps`
- `purgeSourcemaps`
- `cleanSourcemaps`

and any of the above with the `AfterUpload` suffix.

[2021-03-16 17:08] joshuap commented on #5
`removeSourcemaps` works for me.

[2021-03-17 15:34] Pierre-Do opened #288 "The plugin is not compatible with Webpack 5"
## What are the steps to reproduce this issue?

1. Configure the plugin as per documentation
2. Migrate from Webpac 4 to Webpack 5

## What happens?

Nothing, source-maps are not being uploaded

## What were you expecting to happen?

I'm expecting the source-maps to be uploaded, similar to Webpack 4.

## Any logs, error output, etc?

None

## Any other comments?

I believe this PR (https://github.

[2021-03-17 16:58] joshuap commented on #288
@Pierre-Do thanks for the report!
@ParamagicDev can you verify this when you get the chance?

[2021-03-17 17:26] Pierre-Do commented on #288
Thanks @joshuap. I'm more than happy to start a PR myself if it helps! https://github.com/honeybadger-io/honeybadger-webpack/pull/289/files

[2021-03-17 18:37] #48 closed

[2021-03-17 18:37] #50 closed

[2021-03-17 18:37] #281 closed

[2021-03-18 09:36] Pierre-Do commented on #288
Hey @ParamagicDev , I'm playing with this Webpack 5 compatibility (heavily inspired by the Rollbar plugin!), and I was able to upload locally some source-maps with Webpack 5 using these modification:

https://github.com/Pierre-Do/honeybadger-webpack/pull/1

This contains the fix for `auxiliaryFiles`, but also a change that reads the content of the source maps and files from the disk rather than fr

[2021-03-20 17:17] #288 closed

[2021-03-20 21:33] ParamagicDev opened #291 "Uploading sourcemaps via Next.js will fail silently with no assets."
- when uploading to next.js, because were using `process.stdout.write` it silently fails with no assets. Changing to `console.info` will fix this.

[2021-03-20 21:54] #291 closed

[2021-03-20 22:12] ParamagicDev opened #293 "Route discrepancy between Webpack 5 and Webpack 4 (NextJS)"
## What are the steps to reproduce this issue?

1. Go to my current branch here for NextJS with honeybadger
2. Clone it
3. Run `yarn build`
4. Then go to set the Webpack version to 5 under the `future` flag.
5. Rerun `yarn build`

## What happens?

There is a route discrepancy between Webpack 4 and Webpack 5 and im not 100% if its due to the Webpack plugin or due to route generation by Next.js its

[2021-03-20 22:13] ParamagicDev commented on #293
Webpack 5 is still under the `future` flag in Next.js but figured I would have it documented here.

[2021-03-22 17:55] joshuap commented on #276
I've published 1.3.0-beta.0 with this fix. @ValCanBuild can you try it out?

https://www.npmjs.com/package/@honeybadger-io/webpack/v/1.3.0-beta.0

[2021-03-22 17:55] joshuap commented on #288
I've published 1.3.0-beta.0 with this fix. @Pierre-Do can you try it out?

https://www.npmjs.com/package/@honeybadger-io/webpack/v/1.3.0-beta.0

[2021-03-22 18:04] Pierre-Do commented on #288
Thanks @joshuap and @ParamagicDev for tackling this issue so quickly!

I went a bit ahead and released a package from a fork that went in production at QoQa this morning (this commit: https://github.com/qoqa/honeybadger-webpack/commit/914bc09ca0445904a6bfe5f9e44d273ce5a8a11b). It went well, although I'm intending to switch back to the official release asap.

I'll try https://www.npmjs.com/package/

[2021-03-23 07:00] Pierre-Do commented on #288
I've run the following tests: on a docker image based on `ruby-2.7.2` with Node 14, I've compiled my App with Webpack ` 5.24.4`. This yielded **210** source-maps to be uploaded to our Honeybadger project for our test environment.

The build succeeded and the source-maps are being uploaded.

![image](https://user-images.githubusercontent.com/1904504/112105743-10a84b80-8bad-11eb-8b0e-79d04b568082.pn

[2021-03-23 18:09] joshuap commented on #52
Now that we've made some significant upgrades/changes, we should verify that this is still and issue. I haven't had any reports of it recently.

[2021-03-24 19:16] ValCanBuild commented on #276
First try didn't work.

[code]

[2021-03-26 16:13] Pierre-Do commented on #288
@joshuap Pushed to production, running smoothly.

[2021-03-31 00:24] joshuap commented on #276
@ValCanBuild shoot, that's unfortunate. I can't tell from that output—did it retry 3 times when each upload failed (up to the configured default)?

@ParamagicDev any other ideas?

[2021-03-31 08:29] ValCanBuild commented on #276
@joshuap I can't really see any more from the log since this is running in the context of Github actions

[2021-04-08 05:05] ParamagicDev commented on #276
Hmmm.... if a self-hosted runner fixes the issue, im curious if GH-actions has rate limiting in their runners for network requests? A socket hang up is just a timeout which tells me that one of two things is _most likely_ happening.

A.) GH-actions is rate limiting the amount of data you can send.
B.) (less likely) rate limiting by Honeybadger. Now since this is done via a socket I highly doubt Ho

[2021-04-16 14:06] Pierre-Do opened #299 "Timeout when uploading source-map files with Docker"
## What are the steps to reproduce this issue?

1. Build a large project (200+ source-maps) with Docker
2. Use the plugin to upload the files to Honeybadger

## What happens?

From time to time (once every 5 builds, give or take), the Webpack build is hanging (nothing's happening) or `socket hang up` when uploading the source-maps.

## What were you expecting to happen?

Source-maps being uploaded

[2021-04-16 16:15] joshuap commented on #299
@Pierre-Do great writeup! Yes, please submit a PR. 🙏 It might be useful to make the batch number configurable, like `retries`. I'm not sure what name would make the most sense for the config option—maybe `workerCount`?

[2021-04-16 16:18] joshuap commented on #299
@ParamagicDev I wonder if this could help with #276

[2021-04-16 16:46] Pierre-Do commented on #299
Thanks for your feedback @joshuap. `workerCount` sounds good to me, it would indeed by great to configure that. I've tried with 3 but I feel we could safely default to 5.

I'll drop a PR as soon as I figure a way to write some pertinent tests! Probably early next week.

[2021-04-18 09:23] Pierre-Do commented on #299
Suggested pull request: https://github.com/honeybadger-io/honeybadger-webpack/pull/300

[2021-04-19 18:35] #299 closed

[2021-04-19 18:59] joshuap opened #302 "Remove Husky dependency"
See #301, where we decided to remove the broken Husky dependency.

[2021-04-20 16:56] #302 closed

[2021-04-20 16:56] joshuap commented on #302
@shipjs prepare

[2021-04-20 17:00] joshuap commented on #302
@shipjs prepare

[2021-04-20 17:04] joshuap commented on #302
@shipjs prepare

[2021-04-20 17:19] joshuap commented on #276
@ValCanBuild @arifcse019 I just released [v1.4.0](https://www.npmjs.com/package/@honeybadger-io/webpack/v/1.4.0) which may fix this issue. Can you try it out? See #300 for details.

[2021-04-24 16:19] ValCanBuild commented on #276
@joshuap did one upload and it seemed to work 👍 - I'll let you know more over the next week as I do more deployments

[2021-04-27 19:03] ValCanBuild commented on #276
Did a few of more deployments - one failed with a `socket hang up` but other 2 succeeded.

[2021-05-20 13:47] dnorth98 commented on #276
Just to add to this, we're moving some workflows to GH actions and just ran into this same issue

```ERROR in HoneybadgerSourceMapPlugin: failed to upload js/1-ecda22540d00258b7eed.chunk.js.map to Honeybadger API: socket hang up```

We have 36 source maps but weirdly, if the log is to be believed, it was the first one that failed and the other 35 uploaded ok.....

[2021-05-24 16:25] joshuap commented on #276
@dnorth98 odd... Are you using the latest 1.4.0 package? You could try playing with the `workerCount` and `retries` options. I'm at a loss as to what could be causing this. I believe similar issues w/ GH Actions have been reported on other projects.

[2021-05-26 12:41] dnorth98 commented on #276
@joshuap hey, thanks for responding.  So I lowered the `workerCount` which seems to have helped.  I'm doing some active dev work in this area now so I'll keep an eye on it.  It may be that just 1.4 + lower workers is the solution (which is just fine!).

[2021-05-26 12:45] ValCanBuild commented on #276
@dnorth98 please keep us in the loop if this stays stable for you after a few builds. I'd be curious to know what worker count you end up with.

[2021-05-26 18:16] dnorth98 commented on #276
Ah shucks...alas, it lasted 3 builds and `socket hang up` again.  This was with 2 workers and 5 retries too

[2021-05-27 13:01] dnorth98 commented on #276
Some more info and a theory.  Still seeing this despite workers set to 2 and retries set to 10.  Theory: the number of retries is irrelevant because the socket is getting "hung up" and being timed out (and then causing some fatal error).

Maybe there's some way to handle the socket hang up error better and actually trigger a retry?  What I see in the job is that it "hangs" for sometime before fail

[2021-05-27 22:50] joshuap commented on #276
To confirm, are you saying that when the `socket hang up` happens, it doesn't retry the request up to 5 times? If so, then yeah it sounds like something is not working quite right in that case.

[2021-05-27 23:04] #52 closed

[2021-05-28 12:17] dnorth98 commented on #276
I can't confirm this 100% because there's nothing in the logs around retries (not sure if there should be?).  It does appear to upload 41 of the 42 maps we have successfully and then fails on the last one (and from what I've seen, when it fails, it's always the last one.

[code]

I've had to come up with an alternate solution which I'll post in a seperate comment because this fails quite a bit (>

[2021-05-28 12:25] dnorth98 commented on #276
So for anyone who ends up here and (like me) can't make this work reliably, I put together an alternate solution just involving the API.  It was quite simple and runs very fast.  Here's what I did:

I have a job that compiles the assets as usual using webpack(er) and puts them in a github actions cache.  This isn't the full job as it does some other stuff but hopefully shows the main idea.  NOTE w

[2021-05-31 01:43] 0xhjohnson commented on #4
@Tolsee @christiangenco This issue is quite old but hopefully it helps the next person.
1. Follow [craco](https://github.com/sharegate/craco/blob/master/packages/craco/README.md#installation) installation instructions
2. Create `craco.config.js` file and add [honeybadger-io/webpack](https://github.com/honeybadger-io/honeybadger-webpack#readme) plugin which will automatically upload sourcemaps for

[2021-06-21 17:19] #278 closed

[2021-08-23 17:19] joshuap opened #319 "Rails/Webpacker recipe"
See [recipes](https://www.notion.so/honeybadger/549be6376a6246e19d6291bf8bdcee69?v=02c2f9dfbe41498ebd8f43880fb4e782). I'd like a simple guide/checklist for how to configure `@honeybadger-io/webpack` in a new Rails app w/ Webpacker (including generating the Rails app).

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversati

[2021-09-29 12:06] JustFly1984 opened #323 "What is correct approach to upload sourcemaps with next.js 11.1.2?"
Currently I'm updating next.js app, and I see that we have an integration in next.config.js by leveraging @zeit/next-source-maps@0.0.8
I've looked at https://www.npmjs.com/package/@zeit/next-source-maps and it is deprecated, in favor of now native next.js source map support: https://nextjs.org/docs/advanced-features/source-maps

Do you have an example on how to integrate source map upload with cur

[2021-09-29 13:10] JustFly1984 commented on #323
I've found an example https://github.com/honeybadger-io/nextjs-with-honeybadger/blob/master/next.config.js

I just get rid of @zeit/next-source-maps@0.0.8 and followed this one instead

[2021-09-29 13:10] #323 closed

[2021-10-13 03:20] Nitrodist opened #324 "Debugging Honeybadger JS Sending Errors on Staging"
## What are the steps to reproduce this issue?

1. Follow the instructions and use the default block of options provided by Honeybadger in their documentation's website that lists all of the valid Honeybadger.configure values
2. Test it locally with Honeybadger enabled and verify that the API key and revision and environment are set at run-time in development
3. Verify that the intentionally 'brok

[2021-10-13 03:29] Nitrodist commented on #324
Hmm, I _am_ hosting my webpacker+webpack (Rails) javascript assets on s3. Is that the issue, the exception is detected in a
script that's different than my domain?

[2021-10-20 20:46] Jtcruthers opened #325 "HoneybadgerSourceMapPlugin: ENOENT: no such file or directory /dist/js/0.js.map bringing up dev server"
## What are the steps to reproduce this issue?

1. Add HoneybadgerSourceMapPlugin to vue.config
2. Enable source maps in vue.config with `devtool: 'source-map'`
3. `yarn serve` to start the dev server <- this is where it fails

## What happens?
I'm having a hard time getting these source maps working with Vue2.x (vue-cli 3.x). If I use 'source-map', the source maps are built and uploaded to honeyb

[2021-11-10 12:56] subzero10 commented on #319
How to setup a fresh Rails project (on a Mac) and add `@honeybadger-io/webpack` to send source maps to Honeybadger.

# Create a fresh new project

1. Make sure that you have all the prerequisites installed: `Ruby`, `sqlite3` , `nodejs`, `yarn`, `rails`. If not, you can follow [here](https://edgeguides.rubyonrails.org/getting_started.html#creating-a-new-rails-project) to install them. \
_Note: You

[2021-11-10 18:38] subzero10 commented on #325
After inspecting the webpack compilation, I can see the when using `source-map`, the compilation reports that it has generated `js.map` files, where as `eval-source-maps` does not report any `.js.map` files. The files don't actually exist the plugin fails. I was thinking that a simple solution could be not to upload source maps to Honeybadger when the app is running with `webpack-dev-server`. This

[2021-11-10 22:19] Jtcruthers commented on #325
For what it's worth, it looks like the default vue-cli-service hot-loading causes it to try and upload source maps for every change. So for nearly every change, if you have the proper token stored locally, it tries to upload them to honeybadger servers.

[2021-11-11 08:27] subzero10 commented on #325
Correct, that's exactly what I noticed too. I think this shouldn't happen, and that's how I came up with my proposal. Another option would be to skip uploading source maps when `NODE_ENV != 'production'` 🤔

[2021-11-11 22:33] joshuap commented on #319
Thanks!! I moved the guide to notion: https://www.notion.so/honeybadger/Rails-Webpacker-Source-Map-Uploads-90f5a0c18eea4d1a8ee6473467334742

[2021-11-11 22:33] #319 closed

[2021-11-16 15:35] tannerhuynh commented on #276
Any update on this? We are experiencing the same issue with socket hang up on different source maps.

[2021-11-16 18:39] joshuap commented on #276
Hi @tannerhuynh, yeah, the only real "solution" I'm aware of is to do something like the action above. I'd love to fix this, but as far as I know this is an issue w/ GitHub Actions. If anyone can provide further info, we'll take another look.

[2021-11-16 19:18] joshuap commented on #325
I think I prefer to check for the webpack dev server, although there may be some additional environment-related checks we could do. I just want to make sure that it "just works" for most people.

[2021-11-16 19:54] subzero10 commented on #325
@joshuap PR is merged. Let's close this when a version is released.

[2021-11-19 16:52] joshuap commented on #325
Released in 1.5.1!

[2021-11-19 16:52] #325 closed

[2022-04-29 10:55] ValCanBuild commented on #276
@joshuap Just wanted to let you know that I've been using the plugin again for almost 2 weeks and haven't had a single upload error in the 10 deployments I've done in that period 🎉

I'm using it with `retries: 10`

[2022-07-27 05:27] tom-quiltt opened #345 "Build step is attempting to upload source maps, and not finding any"
## What are the steps to reproduce this issue?

1. Setup a Next.js v12 project
In `next.config.js`
[code]
2. Run build
[code]
3. Observe error `Honeybadger could not find any sourcemaps. Nothing will be uploaded.`

## What happens?

Honeybadger cannot find source map and mentioned nothing will be uploaded.

## What were you expecting to happen?

Expect sourcemap to be uploaded.

## Any logs, error

[2022-07-27 22:54] tom-quiltt commented on #345
I noticed it sometimes can send source map to Honeybadger but most of the time it cannot.

[2022-08-10 19:26] joshuap commented on #276
Closing this since we haven't had any more reports lately. Feel free to comment if you're still having this issue.

[2022-08-10 19:26] #276 closed

[2022-08-10 19:27] #4 closed

[2022-08-10 19:29] joshuap commented on #293
@subzero10 can you take a look at this and close it if it's no longer an issue?

[2022-08-10 19:29] joshuap commented on #5
@subzero10 maybe you could look at this one when you look at #345.

[2022-08-11 15:58] subzero10 commented on #293
Sure, I can do that! However, I'm not sure I understand the problem here.
Are you referring to the below?

**v4**
[code]

**v5**
[code]

cc @joshuap @ParamagicDev

[2022-08-12 04:08] joshuap commented on #293
I'm not sure tbh, as long as the result in Honeybadger is the same, then it's probably fine?

[2022-08-12 11:14] subzero10 commented on #293
OK. Then I guess what I have to do is make sure that source maps correctly point to the source, right?

[2022-08-12 17:44] joshuap commented on #293
I wouldn't worry about checking the actual contents of the generated source maps—just make sure the plugin uploads them with the correct `minified_url`, etc. I'm also fine with just confirming the current test suite passes for Webpack 5, and close this PR. If something is really wrong, I'm sure we'll hear about it. :)

[2022-08-12 19:19] ParamagicDev commented on #293
I don't remember if anything was wrong here, I just remember being a worried about differing relative paths leading to different source map URLs.

[2022-08-19 09:53] subzero10 commented on #293
I just tried this on a new project with webpack v5 and I can see the source maps uploaded and applied on the backend.

There is one problem I noticed though, the source map is off by a few lines. As you can see below, the `console.log` line is highlighted, but in reality the error is caused by the next executable line (not visible in the trace because it's line 15.
This is not a problem with Honey

[2022-08-19 09:53] #293 closed

[2022-09-10 11:50] rvdsarr opened #347 "Using root as assets folder"
Hi guys,

I am using my root as assets folder (Laravel 8). The webpack extension finds the assets in /js/app.js and /css/app.css.
This however did not work for me, as HoneybadgerSourceMapPlugin.js line 207 checks for ending "/" and adds it if missing.

So for me that added a double slash. https://example.com//js/app.js which did not work.

var sep = this.assetsUrl.endsWith('/') ? '' : '/';
var sep

[2022-09-12 04:20] ingrocha opened #348 "HoneybadgerSourceMapPlugin: ENOENT: no such file or directory, open 'apps/suw-web-portal/dist/styles.js.map'"
## What are the steps to reproduce this issue?

1. Add HoneybadgerSourceMapPlugin to angular.json
2. Enable `@angular-builders/custom-webpack:dev-server`on the server
3. `ng serve` to start the dev server <- this is where it fails

## What happens?
I'm working with angular 13, when I try to run ng serve all works fine at the beginning but when I try to finish the build it show me this message:

`E